[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gbravoma/Desktop/cop]
row=4
col=0

[/home/gbravoma/Desktop/OpenStack_training_January_2016.pdf]
row=5
col=0

[/home/gbravoma/Desktop/accountingreceiver]
row=3
col=0

[/home/gbravoma/Desktop/Agile_Infrastructure_for_Service_Managers_v0.18.pdf]
row=6
col=0

[Rubbish Bin]
row=0
col=0

[/]
row=1
col=0

[/home/gbravoma]
row=2
col=0

